<!DOCTYPE html>
<html>

<head>
  <title>iDEW Chatbot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../static/css/test.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>

  <div id="chat-circle" class="btn btn-light">
          <div id="chat-overlay"></div>
          <i class="material-icons" style="font-size:80px;">question_answer</i>
  </div>

  <div class="chat-box">
    <div class="chat-box-header">
        <img src= "../../static/images/tree.png"  alt="My Image" class = "chat-image">
        <span class="chat-box-toggle" title = '화면종료'><i class="material-icons">close</i></span>
        <span class="chat-box-reset" title = "리셋버튼"><i class="material-icons">delete_outline</i></span>
    </div>

    <div class="chat-box-body">
      <div class='wrapper'>
        <div id="dialogue"></div>
        <form onSubmit="return chatbot.sendMessage()">
        </form>
      </div>
      <div class="chat-box-overlay"></div>
      <div class="chat-logs">
          <div id='cm-msg-1' class="chat-msg-user">
          <div class="cm-msg-text">
              <text>원하는 농산물을 선택하세요.</text>
        </div>
        <div id='cm-msg-1' class="chat-msg-user">
          <div class="cm-msg-text">
            <div id = 'vege_all'>
                <button id = 'vege'>배추</button>
                <button id = 'vege'>양파</button>
                <button id = 'vege'>고추</button>

                <button id = 'vege'>마늘</button>
                <button id = 'vege'>깻잎</button>
                <button id = 'vege'>대파</button>

                <button id = 'vege'>상추</button>
                <button id = 'vege'>무</button>
                <button id = 'vege'>시금치</button>
            </div>
          </div>
        </div>
      </div><!--chat-log -->
    </div>
    <div class="chat-input">
      <form>
        <input type="text" id="chat-input" placeholder="Send a message..."/>
        <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
      </form>
    </div>
  </div>
  <script src="../../static/js/test.js"></script>
</body>
</html>
