
{% extends "statistic/base.html" %}

{% block main_area %}
    <!-- Posts -->
        <section class="wrapper style1" style="padding-top: 60px !important; padding-bottom: 100px !important;">
            <div style="margin-left: 142.4px; margin-right: 142.4px; padding-bottom: 50px; padding-top: 20px">
                <h1 style="line-height:normal; text-align:center; font-size:25px;">
                    <span style="padding: 13px 14px; border-bottom: 2px solid #212121; border-top: 2px solid #212121">
                        <span style="letter-spacing:normal; margin-left: 40px; margin-right: 40px">시금치</span>
                    </span>
                </h1>
            </div>
            <div class="container">
                <div class="row">
                    <section class="col-6 col-12-narrower">
                        <div class="box post">
                            <div>
                                <h3 style="background-color: #3CB371; text-align: center;" >가격통계</h3>
                                <p style="height: 500px;"><img src="../../static/graph/statistic_p8.png" alt="" style="width: 100%"></p>
                            </div>
                        </div>
                    </section>
                    <section class="col-6 col-12-narrower">
                        <div class="box post">
                            <div>
                                <h3 style="background-color: #3CB371; text-align: center">생산통계</h3>
                                <p style="height: 500px;"><img src="../../static/graph/statistic_p8_.png" alt="" style="width: 100%; height: auto"></p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

{% endblock %}