<!DOCTYPE HTML>
{% load static %}

<html lang="ko" xmlns="http://www.w3.org/1999/html">
   <head>
      <title>텃밭</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen">

         <style>
    li {
      list-style: none;
    }

    img {
      width: 200px;
      height: 200px;
    }

    .real-upload {
      display: none;
    }

    .upload {
      width: 200px;
      height: 200px;
      background-color: antiquewhite;
    }

    .image-preview {
      width: 1300px;
      height: 200px;
      background-color: aquamarine;
      display: flex;
      gap: 20px;
    }
  </style>

   </head>
   <body class="is-preload">
      <div id="page-wrapper">

         <!-- Header -->
            <div id="header">

               <!-- Logo -->
                  <h1><a style="letter-spacing: 2px" href={% url "home" %} id="logo" >미래에서 온 농부</a></h1>
                        <p>더 편한 농산물 가격 예측</p>

               <!-- Nav -->
                  <nav id="nav">
                     <ul>
                        <li>
                           <a  href={% url "predict" %} style="width:190px">가격예측</a>
                        </li>
                                <li>
                           <a href={% url "statistic" %} style="width:190px">가격통계</a>
                           <ul>
                              <li><a href={% url "statistic_1" %}>깻잎</a></li>
                              <li><a href={% url "statistic_2" %}>대파</a></li>
                              <li><a href={% url "statistic_3" %}>마늘</a></li>
                              <li><a href={% url "statistic_4" %}>무</a></li>
                                        <li><a href={% url "statistic_5" %}>배추</a></li>
                              <li><a href={% url "statistic_6" %}>상추</a></li>
                              <li><a href={% url "statistic_7" %}>양파</a></li>
                              <li><a href={% url "statistic_8" %}>시금치</a></li>
                                        <li><a href={% url "statistic_9" %}>양상추</a></li>
                           </ul>
                        </li>
                        <li><a style="color: #fff; font-weight:900; width:190px" href={% url "find" %}>농산물 찾기</a></li>
                                <li>
                           <a href={% url "about" %} style="width:190px">농산물 바로알기</a>
                           <ul>
                              <li><a href={% url "about_1" %}>깻잎</a></li>
                              <li><a href={% url "about_2" %}>대파</a></li>
                              <li><a href={% url "about_3" %}>마늘</a></li>
                              <li><a href={% url "about_4" %}>무</a></li>
                                        <li><a href={% url "about_5" %}>배추</a></li>
                              <li><a href={% url "about_6" %}>상추</a></li>
                              <li><a href={% url "about_7" %}>양파</a></li>
                              <li><a href={% url "about_8" %}>시금치</a></li>
                                        <li><a href={% url "about_9" %}>양상추</a></li>
                           </ul>
                        </li>
                     </ul>
                  </nav>
            </div>
        </div>
            <!-- Posts -->
                <section class="wrapper style1" style="padding-top: 100px !important; padding-bottom: 100px !important; height: auto !important;">
                    <div class="container" style="width:1200px; background-color:rgb(252, 248, 237)">
                        <div style="background-color: rgb(252, 248, 237); padding-top: 60px; padding-bottom:30px; height:auto; text-align: center">
                            <span style="color:#BC9B5D; font-size:57px; letter-spacing:normal; font-weight: bold; margin: 30px">농산물 찾기</span>
                            <hr style="background-color:#BC9B5D; height:3px; width:95%; margin-top:40px; ">
                        </div>
                        <div class="row" style="margin-left: 0px; margin-top:0px">
                            <div class="col-4" style="padding: 0px;">
                                <table>
                                    <tr>
                                        <td style="background-color: rgb(252, 248, 237)">
                                            <div style="font-family:bmjua; font-size:25px; text-align:center">
                                               농산물 사진을 주시면 AI 미농이가<br>어떤 농산물인지 알려드릴게요!
                                            </div>
                                        </td>
                                    </tr>
                                    <tr  style="background-color: rgb(252, 248, 237)">
                                        <td  style="background-color: rgb(252, 248, 237)">
                                            <div style="height: 100%">
                                                <img src="../../static/images/annong.png" style="height: 100%; width: 362.5px; object-fit: cover">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <table class="col-8" style="margin: 0px">
                {# 1행 #}
                                 <tr  style="text-align:center">
                                     <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)" colspan="2">
                                         <div id="uploadedImage";></div>
                                         <form action="" enctype="multipart/form-data" id="imageUploadForm" method="post">
                                            {% csrf_token %}
                                             {{form.as_p}}
                                            <button class="btn btn-outline-success" type="submit" style="margin:auto">Submit</button>
                                         </form>
                                     </td>
                                 </tr>
                {# 2행 #}
                                 <tr>
                                     <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                                         <div class="row" style="margin:0px">
                                             <div class="col-6" style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white; font-family:bmjua; font-weight:100; font-size:90%; display:flex; justify-content:center; color:#A4A4A4" >
                                                 {% if inference_img %}
                                                    <img src="{{inference_img}}" class="img-fluid" style="width:auto; height:auto; max-width: 370px">
                                                 {% else %}
                                                    <div style=" display:flex; align-items:center;">이미지를 넣어주세요!</div>
                                                 {% endif %}
                                             </div>
                                             <div class="col-6" style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white; font-family:bmjua; font-size:90%; text-align:center;  display: flex; align-items: center">
                                                 {% if img_all %}
                                                    {% for img in img_all %}
                                                        <div style="margin-top:15px;text-align: center; width: 100%">
                                                            <span style="font-size:110%;">미농이가 보기에는 {{img.0}}인 것 같아요!</span><br>
                                                            <div><button style="margin:auto; display:block; margin-bottom:5px; margin-top:10px; display:flex; align-items:center;"><a href = "{% url img.1 %}" style="color:black;">{{img.0}} 가격예측</a></button></div>
                                                            <div><button style="color:black; margin:auto; display:block; margin-bottom:5px; display:flex; align-items:center;"><a href = "{% url img.2 %}" style="color:black;">{{img.0}} 가격통계</a></button></div>
                                                            <div><button style="color:black; margin:auto; display:block; margin-bottom:15px; display:flex; align-items:center;"><a href = "{% url img.3 %}" style="color:black;">{{img.0}} 바로알기</a></button></div>
                                                        </div>
                                                    {% endfor %}
                                                 {% else %}
                                                 <span style="color:#A4A4A4; text-align: center; width: 100%"><br>미농이가 보기에는 ...<br><br></span>
                                                 {% endif %}
                                             </div>
                                         </div>
                                     </td>
                                 </tr>
                            </table>
                        </div>
                    </div>

                </section>





            <!-- Chat bot -->
                <!DOCTYPE html>
                <html>

                <head>
                    <title>iDEW Chatbot</title>
                    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1">

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
                    <link rel="stylesheet" type="text/css" href="../../static/css/test.css">
                    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

                </head>

                <body>
                    <div class="chat-box">
                        <div class="chat-box-header">
                            <img src= "../../static/images/nong.jpg" alt="My Image" class = "chat-image">
                            <span class="chat-box-toggle" title = '화면종료'>
                                <i class="material-icons">close</i>
                            </span>
                            <span class="chat-box-reset" title = "리셋버튼">
                                <i class="material-icons">delete_outline</i>
                            </span>
                        </div>

                        <div class="chat-box-body">
                            <div class='wrapper' style="padding: 0px">
                                <div id="dialogue"></div>
                                <form onSubmit="return chatbot.sendMessage()"></form>
                            </div>
                            <div class="chat-box-overlay"></div>
                            <div class="chat-logs">
                                <div id='cm-msg-1' class="chat-msg-user">
                                    <div class="cm-msg-text">
                                        <text>안녕하세요:)<br>미래에서 온 농부, 미농입니다!</text>
                                    </div>
                                    <div class="cm-msg-text">
                                        <text>원하시는 농산물을 선택해주세요!</text>
                                    </div>
                                    <div id='cm-msg-1' class="chat-msg-user">
                                        <div class="cm-msg-text" style="width: 220px; height:430px">
                                            <div id = 'vege_all'>
                                                <button id = '1'>깻잎</button>
                                                <button id = '2'>대파</button>

                                                <button id = '3'>마늘</button>
                                                <button id = '4'>무</button>

                                                <button id = '5'>배추</button>
                                                <button id = '6'>상추</button>

                                                <button id = '7'>양파</button>
                                                <button id = '8'>시금치</button>

                                                <button id = '9'>양상추</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <!--chat-log -->
                            </div>
                            <div class="chat-input">
                                <form>
                                    <input type="text" id="chat-input" placeholder="Send a message...">
                                    <button type="submit" class="chat-submit" id="chat-submit">
                                        <i class="material-icons">send</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="chat-circle" class="btn btn-light" style="bottom: 40px; right: 50px">
                        <div id="chat-overlay"></div>
                        <div class="row">
                            <section class="col-9" style="padding-left: 53px;padding-top: 42px">
                                <div style="font-size: 25px">미농이와 대화하기</div>
                            </section>
                            <section class="col-3 material-icons" style="padding-left: 13px; padding-top: 35px">
                                <div style="font-size: 60px">question_answer</div>
                            </section>
                        </div>
                    </div>
                    <script src="../../static/js/test.js"></script>
                </body>
                </html>



      <!— Scripts —>
         <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
         <script type="text/javascript" src="../../static/js/jquery.dropotron.min.js"></script>
         <script type="text/javascript" src="../../static/js/browser.min.js"></script>
         <script type="text/javascript" src="../../static/js/breakpoints.min.js"></script>
         <script type="text/javascript" src="../../static/js/util.js"></script>
         <script type="text/javascript" src="../../static/js/main.js"></script>

   </body>
</html>