<!DOCTYPE HTML>
{% load static %}


<html lang="ko">
	<head>
		<title>텃밭</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen">

        <style>
            @font-face {
                font-family: 'bmjua';
                src: url('../../static/images/BMJUA_ttf.ttf') format('truetype');
            }
        </style>

	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a  style="letter-spacing: 2px" href={% url "home" %}>미래에서 온 농부</a></h1>
						<p>더 편한 농산물 가격 예측</p>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li>
									<a  style="width:190px" href={%url "predict" %}>가격예측</a>
									<ul>
										<li><a href={% url "predict_1" %}>깻잎</a></li>
										<li><a href={% url "predict_2" %}>대파</a></li>
										<li><a href={% url "predict_3" %}>마늘</a></li>
										<li><a href={% url "predict_4" %}>무</a></li>
                                        <li><a href={% url "predict_5" %}>배추</a></li>
										<li><a href={% url "predict_6" %}>상추</a></li>
										<li><a href={% url "predict_7" %}>양파</a></li>
										<li><a href={% url "predict_8" %}>시금치</a></li>
                                        <li><a href={% url "predict_9" %}>양상추</a></li>
									</ul>
								</li>
                                <li>
									<a  style="width:190px" href={% url "statistic" %}>가격통계</a>
									<ul>
										<li><a href={% url "statistic_1" %}>깻잎</a></li>
										<li><a href={% url "statistic_2" %}>대파</a></li>
										<li><a href={% url "statistic_3" %}>마늘</a></li>
										<li><a href={% url "statistic_4" %}>무</a></li>
                                        <li><a href={% url "statistic_5" %}>배추</a></li>
										<li><a href={% url "statistic_6" %}>상추</a></li>
										<li><a href={% url "statistic_7" %}>양파</a></li>
										<li><a href={% url "statistic_8" %}>시금치</a></li>
                                        <li><a href={% url "statistic_9" %}>양상추</a></li>
									</ul>
								</li>
								<li><a style="width:190px" href={% url "find" %}>농산물 찾기</a></li>
                                <li>
									<a style="width:190px">농산물 바로알기</a>
									<ul>
										<li><a href={% url "about_1" %}>깻잎</a></li>
										<li><a href={% url "about_2" %}>대파</a></li>
										<li><a href={% url "about_3" %}>마늘</a></li>
										<li><a href={% url "about_4" %}>무</a></li>
                                        <li><a href={% url "about_5" %}>배추</a></li>
										<li><a href={% url "about_6" %}>상추</a></li>
										<li><a href={% url "about_7" %}>양파</a></li>
										<li><a href={% url "about_8" %}>시금치</a></li>
                                        <li><a href={% url "about_9" %}>양상추</a></li>
									</ul>
								</li>
							</ul>
						</nav>

				</div>

            <!-- Posts -->
                <section class="wrapper style1" style="padding-top: 100px !important; padding-bottom: 100px !important; height: auto !important;">
                    <div class="container">
                        <div class="row">
                            <section class="col-6 col-12-narrower">
                                <div class="box post">
                                    <a href="#" class="image left"><img src="../../static/images/pic01.jpg" alt=""></a>
                                    <div class="inner">
                                        <h3>The First Thing</h3>
                                        <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                                    </div>
                                </div>
                            </section>
                            <section class="col-6 col-12-narrower" style="background-image: url('../../static/images/pad.png'); background-size: cover; height: 530px; padding-right: 50px; padding-bottom: 50px">
                                <div class="box post" style="margin: 30px">
                                    <p style="font-size: 40px; font-family: bmjua; line-height:50px; margin-bottom: 20px; text-align: center; text-decoration: underline #66b978 8px">농산물의 정확한 가격예측을 위해<br>미래에서 온 농부 "미농"!!</p>
                                    <div >
                                        <a href="#" class="image left" style="padding-right: 20px; padding-top: 10px; padding-left: -5px"><img src="../../static/images/minong.jpg" alt=""></a>
                                        <p style="font-size: 24px;font-weight: bold; padding-top: 40px">AI 챗봇 미농이가 원하시는 서비스를 편하게 제공해 드릴게요!<br><br><span style="background-color: #67bf7c; border-radius: 7px; font-size: 23px">&nbsp;우측 하단 '미농이와 대화하기' 클릭!&nbsp;</span></p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>

            <!-- Chat bot -->
                <!DOCTYPE html>
                <html>

                <head>
                    <title>iDEW Chatbot</title>
                    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1">

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
                    <link rel="stylesheet" type="text/css" href="../../static/css/test.css">
                    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

                </head>

                <body>
                    <div id="chat-circle" class="btn btn-light" style="bottom: 115px">
                        <div id="chat-overlay"></div>
                        <div class="row">
                            <section class="col-9" style="padding-left: 53px;padding-top: 42px">
                                <div style="font-size: 25px">미농이와 대화하기</div>
                            </section>
                            <section class="col-3 material-icons" style="padding-left: 13px; padding-top: 35px">
                                <div style="font-size: 60px">question_answer</div>
                            </section>
                        </div>
                    </div>

                    <div class="chat-box">
                        <div class="chat-box-header">
                            <img src= "../../static/images/nong.jpg" alt="My Image" class = "chat-image">
                            <span class="chat-box-toggle" title = '화면종료'>
                                <i class="material-icons">close</i>
                            </span>
                            <span class="chat-box-reset" title = "리셋버튼">
                                <i class="material-icons">delete_outline</i>
                            </span>
                        </div>

                        <div class="chat-box-body">
                            <div class='wrapper' style="padding: 0px">
                                <div id="dialogue"></div>
                                <form onSubmit="return chatbot.sendMessage()"></form>
                            </div>
                            <div class="chat-box-overlay"></div>
                            <div class="chat-logs">
                                <div id='cm-msg-1' class="chat-msg-user">
                                    <div class="cm-msg-text">
                                        <text>안녕하세요:)<br>미래에서 온 농부, 미농입니다!</text>
                                    </div>
                                    <div class="cm-msg-text">
                                        <text>원하시는 농산물을 선택해주세요!</text>
                                    </div>
                                    <div id='cm-msg-1' class="chat-msg-user">
                                        <div class="cm-msg-text" style="width: 220px; height:430px">
                                            <div id = 'vege_all'>
                                                <button id = '1'>깻잎</button>
                                                <button id = '2'>대파</button>

                                                <button id = '3'>마늘</button>
                                                <button id = '4'>무</button>

                                                <button id = '5'>배추</button>
                                                <button id = '6'>상추</button>

                                                <button id = '7'>양파</button>
                                                <button id = '8'>시금치</button>

                                                <button id = '9'>양상추</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <!--chat-log -->
                            </div>
                            <div class="chat-input">
                                <form>
                                    <input type="text" id="chat-input" placeholder="Send a message...">
                                    <button type="submit" class="chat-submit" id="chat-submit">
                                        <i class="material-icons">send</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <script src="../../static/js/test.js"></script>
                </body>
                </html>

            <!-- Footer -->
                <section class="section1 dv_wrap" style="padding-top: 20px; margin-left: 40px">
                    <span class="news" style="margin-top: 10px; margin-right: 10px">
                        농산뉴스
                    </span>
                    <div id="flow_wrap" style="visibility: visible; opacity: 1;padding-bottom: 20px;width: 1650px;margin-left: 0px;">
                        <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: left; position: relative; inset: auto; z-index: auto; width: 570px; height: 57px; margin: 0px 0px 0px 6.32812px; overflow: hidden;">
                            <ul class="list_dot1" style="left: 0; padding-left: 0;text-align: left; float: none; position: absolute; inset: 0px auto auto 0px; margin: 0px; width: 2470px; height: 57px; z-index: auto;">
                                <li style="width: 190px; height: 57px; left:0;">
                                    <a href={{link.0}}>{{title.0}}</a>
                                </li>
                                <li style="width: 170px; height: 57px;">
                                    <a href={{link.1}}>{{title.1}}</a>
                                </li>
                                <li style="width: 190px; height: 57px;">
                                    <a href={{link.2}}>{{title.2}}</a>
                                </li>
                                <li style="width: 190px; height: 57px;">
                                    <a href={{link.3}}>{{title.3}}</a>
                                </li>
                                <li style="width: 190px; height: 57px;">
                                    <a href={{link.4}}>{{title.4}}</a>
                                </li>
                                <li style="width: 190px; height: 57px;">
                                    <a href={{link.5}}>{{title.5}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

		</div>

		<!— Scripts —>
			<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
			<script type="text/javascript" src="../../static/js/jquery.dropotron.min.js"></script>
			<script type="text/javascript" src="../../static/js/browser.min.js"></script>
			<script type="text/javascript" src="../../static/js/breakpoints.min.js"></script>
			<script type="text/javascript" src="../../static/js/util.js"></script>
			<script type="text/javascript" src="../../static/js/main.js"></script>

	</body>
</html>
