<!DOCTYPE HTML>
{% load static %}


<html lang="ko">
	<head>
		<title>텃밭</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen">

	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a href={%url "home" %} id="logo" >미래에서 온 농부</a></h1>
						<p>더 편한 농산물 가격 예측</p>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li>
									<a  href={%url "predict" %} style="width:190px">가격예측</a>
									<ul>
										<li><a href={%url "predict_1" %}>깻잎</a></li>
										<li><a href={%url "predict_2" %}>대파</a></li>
										<li><a href={%url "predict_3" %}>마늘</a></li>
										<li><a href={%url "predict_4" %}>무</a></li>
                                        <li><a href={%url "predict_5" %}>배추</a></li>
										<li><a href={%url "predict_6" %}>상추</a></li>
										<li><a href={%url "predict_7" %}>양파</a></li>
										<li><a href={% url "predict_8" %}>시금치</a></li>
                                        <li><a href={% url "predict_9" %}>양상추</a></li>
									</ul>
								</li>
                                <li>
									<a href={% url "statistic" %} style="width:190px">가격통계</a>
									<ul>
										<li><a href={% url "statistic_1" %}>깻잎</a></li>
										<li><a href={% url "statistic_2" %}>대파</a></li>
										<li><a href={% url "statistic_3" %}>마늘</a></li>
										<li><a href={% url "statistic_4" %}>무</a></li>
                                        <li><a href={% url "statistic_5" %}>배추</a></li>
										<li><a href={% url "statistic_6" %}>상추</a></li>
										<li><a href={% url "statistic_7" %}>양파</a></li>
										<li><a href={% url "statistic_8" %}>시금치</a></li>
                                        <li><a href={% url "statistic_9" %}>양상추</a></li>
									</ul>
								</li>
								<li><a href={% url "find" %} style="width:190px">농산물 찾기</a></li>
                                <li>
									<a style="width:190px">농산물 바로알기</a>
									<ul>
										<li><a href={% url "about_1" %}>깻잎</a></li>
										<li><a href={% url "about_2" %}>대파</a></li>
										<li><a href={% url "about_3" %}>마늘</a></li>
										<li><a href={% url "about_4" %}>무</a></li>
                                        <li><a href={% url "about_5" %}>배추</a></li>
										<li><a href={% url "about_6" %}>상추</a></li>
										<li><a href={% url "about_7" %}>양파</a></li>
										<li><a href={% url "about_8" %}>시금치</a></li>
                                        <li><a href={% url "about_9" %}>양상추</a></li>
									</ul>
								</li>
							</ul>
						</nav>

				</div>

            <!-- Posts -->
                <section class="wrapper style1" style="padding-top: 100px !important; padding-bottom: 100px !important; height: 600px !important;">
                    <div class="container">
                        <div class="row">
                            <section class="col-6 col-12-narrower">
                                <div class="box post">
                                    <a href="#" class="image left"><img src="../../static/images/pic01.jpg" alt=""></a>
                                    <div class="inner">
                                        <h3>The First Thing</h3>
                                        <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                                    </div>
                                </div>
                            </section>
                            <section class="col-6 col-12-narrower">
                                <div class="box post">
                                    <a href="#" class="image left"><img src="../../static/images/pic02.jpg" alt=""></a>
                                    <div class="inner">
                                        <h3>The Second Thing</h3>
                                        <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>

            <!-- Chat bot -->
                <!DOCTYPE html>
                <html>

                <head>
                    <title>iDEW Chatbot</title>
                    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1">

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
                    <link rel="stylesheet" type="text/css" href="../../static/css/test.css">
                    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

                </head>

                <body>
                    <div id="chat-circle" class="btn btn-light" style="bottom: 130px">
                        <div id="chat-overlay"></div>
                        <div class="row">
                            <section class="col-9" style="padding-left: 53px;padding-top: 42px">
                                <div style="font-size: 25px">미농이와 대화하기</div>
                            </section>
                            <section class="col-3 material-icons" style="padding-left: 13px; padding-top: 35px">
                                <div style="font-size: 60px">question_answer</div>
                            </section>
                        </div>
                    </div>

                    <div class="chat-box">
                        <div class="chat-box-header">
                            <img src= "../../static/images/nong.jpg" alt="My Image" class = "chat-image">
                            <span class="chat-box-toggle" title = '화면종료'>
                                <i class="material-icons">close</i>
                            </span>
                            <span class="chat-box-reset" title = "리셋버튼">
                                <i class="material-icons">delete_outline</i>
                            </span>
                        </div>

                        <div class="chat-box-body">
                            <div class='wrapper' style="padding: 0px">
                                <div id="dialogue"></div>
                                <form onSubmit="return chatbot.sendMessage()"></form>
                            </div>
                            <div class="chat-box-overlay"></div>
                            <div class="chat-logs">
                                <div id='cm-msg-1' class="chat-msg-user">
                                    <div class="cm-msg-text">
                                        <text>안녕하세요:)<br>미래에서 온 농부, 미농입니다!</text>
                                    </div>
                                    <div class="cm-msg-text">
                                        <text>원하시는 농산물을 선택해주세요!</text>
                                    </div>
                                    <div id='cm-msg-1' class="chat-msg-user">
                                        <div class="cm-msg-text" style="width: 220px; height:430px">
                                            <div id = 'vege_all'>
                                                <button id = '1'>깻잎</button>
                                                <button id = '2'>대파</button>

                                                <button id = '3'>마늘</button>
                                                <button id = '4'>무</button>

                                                <button id = '5'>배추</button>
                                                <button id = '6'>상추</button>

                                                <button id = '7'>양파</button>
                                                <button id = '8'>시금치</button>

                                                <button id = '9'>양상추</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <!--chat-log -->
                            </div>
                            <div class="chat-input">
                                <form>
                                    <input type="text" id="chat-input" placeholder="Send a message...">
                                    <button type="submit" class="chat-submit" id="chat-submit">
                                        <i class="material-icons">send</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <script src="../../static/js/test.js"></script>
                </body>
                </html>

            <!-- Banner -->
                <section id="banner" style="height: 100px !important;">
                    <header>
                        <h2>Arcana: <em>A responsive site template freebie by <a href="http://html5up.net">HTML5 UP</a></em></h2>
                        <a href="#" class="button">Learn More</a>
                    </header>
                </section>

            <!-- Footer -->
                <div id="footer" style="padding-top: 0px !important;padding-bottom:0px !important;">

                    <!-- Copyright -->
                        <div class="copyright">
                            <ul class="menu">
                                <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            </ul>
                        </div>

                </div>

		</div>

		<!— Scripts —>
			<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
			<script type="text/javascript" src="../../static/js/jquery.dropotron.min.js"></script>
			<script type="text/javascript" src="../../static/js/browser.min.js"></script>
			<script type="text/javascript" src="../../static/js/breakpoints.min.js"></script>
			<script type="text/javascript" src="../../static/js/util.js"></script>
			<script type="text/javascript" src="../../static/js/main.js"></script>

	</body>
</html>
