<!DOCTYPE HTML>
{% load static %}

<html lang="ko">
	<head>
		<title>가격통계</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen">

	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a href={% url "home" %} id="logo">텃밭</a></h1>
                        <p>더 편한 농산물 가격 예측</p>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li>
									<a  href={% url "predict" %}>가격예측</a>
									<ul>
										<li><a href={% url "predict_1" %}>깻잎</a></li>
										<li><a href={% url "predict_2" %}>대파</a></li>
										<li><a href={% url "predict_3" %}>마늘</a></li>
										<li><a href={% url "predict_4" %}>무</a></li>
                                        <li><a href={% url "predict_5" %}>배추</a></li>
										<li><a href={% url "predict_6" %}>상추</a></li>
										<li><a href={% url "predict_7" %}>양파</a></li>
										<li><a href={% url "predict_8" %}>청양고추</a></li>
									</ul>
								</li>
                                <li>
									<a href={% url "statistic" %}>가격통계</a>
									<ul>
										<li><a href={% url "statistic_1" %}>깻잎</a></li>
										<li><a href={% url "statistic_2" %}>대파</a></li>
										<li><a href={% url "statistic_3" %}>마늘</a></li>
										<li><a href={% url "statistic_4" %}>무</a></li>
                                        <li><a href={% url "statistic_5" %}>배추</a></li>
										<li><a href={% url "statistic_6" %}>상추</a></li>
										<li><a href={% url "statistic_7" %}>양파</a></li>
										<li><a href={% url "statistic_8" %}>청양고추</a></li>
									</ul>
								</li>
								<li><a href={% url "find" %}>농산물 찾기</a></li>
                                <li>
									<a style="color: #fff; font-weight:900">농산물 바로알기</a>
									<ul>
										<li><a href={% url "about_1" %}>깻잎</a></li>
										<li><a href={% url "about_2" %}>대파</a></li>
										<li><a href={% url "about_3" %}>마늘</a></li>
										<li><a href={% url "about_4" %}>무</a></li>
                                        <li><a href={% url "about_5" %}>배추</a></li>
										<li><a href={% url "about_6" %}>상추</a></li>
										<li><a href={% url "about_7" %}>양파</a></li>
										<li><a href={% url "about_8" %}>청양고추</a></li>
									</ul>
								</li>
							</ul>
						</nav>

				</div>

            <!-- 내부 내용 -->
                {% block main_area %}
                {% endblock %}


            <!-- Footer -->
                <div id="footer" style="padding-top: 0px !important;padding-bottom:0px !important;">

                    <!-- Copyright -->
                        <div class="copyright">
                            <ul class="menu">
                                <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            </ul>
                        </div>

                </div>

		</div>

		<!— Scripts —>
			<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
			<script type="text/javascript" src="../../static/js/jquery.dropotron.min.js"></script>
			<script type="text/javascript" src="../../static/js/browser.min.js"></script>
			<script type="text/javascript" src="../../static/js/breakpoints.min.js"></script>
			<script type="text/javascript" src="../../static/js/util.js"></script>
			<script type="text/javascript" src="../../static/js/main.js"></script>

	</body>
</html>