
{% extends "about/base.html" %}

{% block main_area %}
    <!-- Posts -->
        <section class="wrapper style1" style="padding-top: 60px !important; padding-bottom: 100px !important;">
{#    b   //표#}
            <div class="container">
                <div class="row">
{#                //사진#}
                    <div>
                        <div>
                            <img src="https://static.wixstatic.com/media/55f70e_65e4a612653a48e6bed625ace75786ba~mv2.webp" alt="깻잎.webp" style="width: 382px; height: 800px; object-fit: cover;">
                        </div>
                    </div>
{#                //정보#}
                    <div style="width: 1015px; padding-right: 50px; padding-left: 50px">
                        <div style="margin-left: 142.4px; margin-right: 142.4px;">
                            <span>
                                <h1 style="line-height:normal; text-align:center; font-size:36px;">
                                    <span style="padding: 13px 14px;">
                                        <span style="letter-spacing:normal; margin-left: 40px; margin-right: 40px">깻잎</span>
                                    </span>
                                </h1>
                            </span>
                        </div>
{#                    //내용1#}
                        <div>
{#                        //주제#}
                            <div>
                                <h2 style="font-size:20px">
                                    <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                        <span style="font-size:20px;">주요 생산지</span>
                                    </span>
                                </h2>
                            </div>
{#                        //글#}
                            <div>
                                <p style="font-size:16px;">
                                    <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                        <span style="font-size:16px;">- 경남 밀양시<br>- 충남 금산군<br>- 경북 경산시 등 전국</span>
                                    </span>
                                </p>
                            </div>
                        </div>
{#                    //내용2#}
                        <div>
{#                        //주제#}
                            <div>
                                <h2 style="font-size:20px;">
                                    <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                        <span style="font-size:20px;">특징</span>
                                    </span>
                                </h2>
                            </div>
{#                        //글#}
                            <div>
                                <p style="font-size:16px;">
                                    <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                        <span style="font-size:16px;">광지역성 작물로 전국에서 재배되며 장해의 영향을 잘 받지 않아 사시사철 맛볼 수 있다. 잎은 고유의 향을 살려 향미 채소로 사용하며, 씨는 기름을 추출하여 각종 음식에 고소한 풍미를 더 할 때 사용한다.</span>
                                    </span>
                                </p>
                            </div>
                        </div>
{#                    //내용3#}
                        <div>
{#                        //주제#}
                            <div>
                                <h2 style="font-size:20px;">
                                    <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                        <span style="font-size:20px;">열량</span>
                                    </span>
                                </h2>
                            </div>
{#                        //글#}
                            <div>
                                <p style="font-size:16px;">
                                    <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                        <span style="font-size:16px;">100g당 41kcal (생것), 24kcal (데친 것), 30kcal(찐 것)</span>
                                    </span>
                                </p>
                            </div>
                        </div>
{#                    //내용4#}
                        <div>
{#                        //주제#}
                            <div>
                                <h2 style="font-size:20px;">
                                    <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                        <span style="font-size:20px;">효능</span>
                                    </span>
                                </h2>
                            </div>
{#                        //글#}
                            <div>
                                <p style="font-size:16px;">
                                    <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                        <span style="font-size:16px;">시금치보다 2배 이상의 철분을 함유하고 있어, 빈혈 예방 및 성장 발달에 효과적이다.</span>
                                    </span>
                                </p>
                            </div>
                        </div>
{#                    //내용5#}
                        <div>
{#                        //주제#}
                            <div>
                                <h2 style="font-size:20px;">
                                    <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                        <span style="font-size:20px;">고르는법</span>
                                    </span>
                                </h2>
                            </div>
{#                        //글#}
                            <div>
                                <p style="font-size:16px;">
                                    <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                        <span style="font-size:16px;">향이 강하고 짙은 녹색을 띠는 것, 잎의 잔털이 선명해 표면이 거칠고 가장자리가 뚜렷한 것을 고른다.</span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}