
{% extends "about/base.html" %}

{% block main_area %}
    <!-- Posts -->
    <section class="wrapper style1" style="padding-top: 60px !important; padding-bottom: 100px !important;" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row" style="padding-top: 80px; margin-left: 0px">
                <div class="col-3" style="padding: 0px;">
                    <div style="height: 100%">
                        <img src="../../static/images/p3.jpg" style="height: 100%; width: 362.5px; object-fit: cover">
                    </div>
                </div>
                <table class="col-9" style="margin: 0px">
                     <tr>
                         <td style="background-color: rgb(252, 248, 237); padding-top: 20px">
                             <div style="color:#BC9B5D; font-size:57px; letter-spacing:normal; font-weight: bold; margin: 30px; text-align: center">마늘</div>
                         </td>
                     </tr>
    {# 1행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">주요 생산지</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">- 한지형 마늘 : 충남 태안 / 서산 등 중북부지방<br>- 난지형 마늘 : 경남 창녕 , 전남 고흥 / 신안 등 남부지방</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 2행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">특징</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">마늘은 우리나라의 4대 채소 중의 하나로 한지형과 난지형으로 분류된다. 한지형 품종은 우리나라 재배종으로 중북부 지방에서 재배되고, 난지형 품종은 중국에서 도입된 남도 마늘과 스페인 도입종인 대서 마늘, 인도네시아 도입종인 자봉 마늘 등으로 남부 지방에서 주로 재배된다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 3행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">열량</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">100g 당 120kcal</span>
                                        </span>
                                    </p>
                                </div>
                             </div>
                         </td>
                     </tr>
    {# 4행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">효능</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">강력한 살균작용을 하는 알리신 성분이 다량 함유되어 있어 면역력 강화에 도움을 주며 , 체내 비타민 B6 와 결합하여 췌장 세포의 기능 및 인슐린의 분비를 활성화해 혈당을 떨어뜨리는 데 도움을 준다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 5행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237); padding-bottom: 40px">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
                                 {#{#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">고르는법</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">- 통마늘 : 들었을 때 묵직한 것 , 마늘의 쪽수가 많은 것보다 적은 것이 좋고 , 짜임새가 단단하며 알차 보이는 것을 골라야 한다.<br>- 깐 마늘 : 통통하고 끝부분이 뾰족 한 것이 좋다 . 뿌리 부분이 좁은 것이 부드러우며 색상은 맑은 연 노란색을 띠는 것이 좋다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
                </table>
            </div>
        </div>
    </section>

{% endblock %}