
{% extends "about/base.html" %}

{% block main_area %}
    <!-- Posts -->
    <section class="wrapper style1" style="padding-top: 60px !important; padding-bottom: 100px !important;" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row" style="padding-top: 80px; margin-left: 0px">
                <div class="col-3" style="padding: 0px;">
                    <div style="height: 100%">
                        <img src="../../static/images/p4.jpg" style="height: 100%; width: 362.5px; object-fit: cover">
                    </div>
                </div>
                <table class="col-9" style="margin: 0px">
                     <tr>
                         <td style="background-color: rgb(252, 248, 237); padding-top: 20px">
                             <div style="color:#BC9B5D; font-size:57px; letter-spacing:normal; font-weight: bold; margin: 30px; text-align: center">무</div>
                         </td>
                     </tr>
    {# 1행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">주요 생산지</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">- 경남 밀양시<br>- 충남 금산군<br>- 경북 경산시 등 전국</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 2행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">특징</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">광지역성 작물로 전국에서 재배되며 장해의 영향을 잘 받지 않아 사시사철 맛볼 수 있다. 잎은 고유의 향을 살려 향미 채소로 사용하며, 씨는 기름을 추출하여 각종 음식에 고소한 풍미를 더 할 때 사용한다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 3행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">열량</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">100g당 41kcal (생것), 24kcal (데친 것), 30kcal(찐 것)</span>
                                        </span>
                                    </p>
                                </div>
                             </div>
                         </td>
                     </tr>
    {# 4행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">효능</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">시금치보다 2배 이상의 철분을 함유하고 있어, 빈혈 예방 및 성장 발달에 효과적이다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 5행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237); padding-bottom: 40px">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
                                 {#{#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">고르는법</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">향이 강하고 짙은 녹색을 띠는 것, 잎의 잔털이 선명해 표면이 거칠고 가장자리가 뚜렷한 것을 고른다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
                </table>
            </div>
        </div>
    </section>

{% endblock %}