

{% extends "about/base.html" %}

{% block main_area %}
    <!-- Posts -->
    <section class="wrapper style1" style="padding-top: 60px !important; padding-bottom: 100px !important;" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row" style="padding-top: 80px; margin-left: 0px">
                <div class="col-3" style="padding: 0px;">
                    <div style="height: 100%">
                        <img src="../../static/images/p5.jpg" style="height: 100%; width: 362.5px; object-fit: cover">
                    </div>
                </div>
                <table class="col-9" style="margin: 0px">
                     <tr>
                         <td style="background-color: rgb(252, 248, 237); padding-top: 20px">
                             <div style="color:#BC9B5D; font-size:57px; letter-spacing:normal; font-weight: bold; margin: 30px; text-align: center">배추</div>
                         </td>
                     </tr>
    {# 1행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">주요 생산지</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">- 봄배추 : 경기 평택/포천, 충북 청원, 충남 예산<br>- 고랭지 배추 : 강원 강릉/태백/삼천/정선<br>- 가을배추 : 충북 제천, 전북 고창, 전남 나주<br>- 겨울배추 : 전남 해남/진도, 제주도</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 2행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">특징</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">무, 고추, 마늘과 함께 사용하는 4대 채소 중 하나인 배추는 일 년 사계절 항상 필요한 식재료이다. 김치로 활용되는 비율이 가장 높지만, 김치 외에도 국, 샐러드, 무침이나 볶음 등 다양한 용도로 활용되고 있다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 3행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">열량</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">100g 당 33kcal100g당 13kcal (생것), 17kcal (데친 것)</span>
                                        </span>
                                    </p>
                                </div>
                             </div>
                         </td>
                     </tr>
    {# 4행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">효능</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">수분 함량이 높아 이뇨 작용에 효과적이며 열량이 낮고 식이섬유 함유량이 많아 변비와 대장암 예방에 좋다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 5행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237); padding-bottom: 40px">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
                                 {#{#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">고르는법</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">겉잎은 짙은 녹색을 띠고 속잎은 선명한 노란색을 띠는 것이 좋다. 뿌리는 크기가 작고 뿌리 주변이 단단한 것을 고른다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
                </table>
            </div>
        </div>
    </section>

{% endblock %}