

{% extends "about/base.html" %}

{% block main_area %}
    <!-- Posts -->
    <section class="wrapper style1" style="padding-top: 60px !important; padding-bottom: 100px !important;" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row" style="padding-top: 80px; margin-left: 0px">
                <div class="col-3" style="padding: 0px;">
                    <div style="height: 100%">
                        <img src="../../static/images/p6.jpg" style="height: 100%; width: 362.5px; object-fit: cover">
                    </div>
                </div>
                <table class="col-9" style="margin: 0px">
                     <tr>
                         <td style="background-color: rgb(252, 248, 237); padding-top: 20px">
                             <div style="color:#BC9B5D; font-size:57px; letter-spacing:normal; font-weight: bold; margin: 30px; text-align: center">상추</div>
                         </td>
                     </tr>
    {# 1행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">주요 생산지</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">- 노지상추 : 강원 평창/황성, 경북 대구<br>- 시설상추 : 경기 남양주/하남/용인/이천/고양, 충남 논산 등</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 2행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">특징</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">대표적인 ‘쌈 채소’ 중 하나인 상추는 기원전 2,500년경 고대 이집트 벽화에도 기록되어 있을 정도로 오랜 기원을 가지고 있는 채소이다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 3행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">열량</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">100g당 12kcal (생것)</span>
                                        </span>
                                    </p>
                                </div>
                             </div>
                         </td>
                     </tr>
    {# 4행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">효능</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">다른 엽채류에 비해 철분과 필수 아미노산이 풍부하여 혈액을 맑게 하고 저혈압을 예방한다. 상추 잎줄기의 우윳빛 액즙 성분인 락투카리움은 스트레스 및 불면증을 완화한다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 5행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237); padding-bottom: 40px">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
                                 {#{#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">고르는법</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">잎은 연하면서도 도톰하고 손바닥 정도의 크기가 적당하다. 세척된 것을 구매할 경우 냉장 보관된 제품을 구매해야 한다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
                </table>
            </div>
        </div>
    </section>

{% endblock %}