
{% extends "about/base.html" %}

{% block main_area %}
    <!-- Posts -->
    <section class="wrapper style1" style="padding-top: 60px !important; padding-bottom: 100px !important;" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row" style="padding-top: 80px; margin-left: 0px">
                <div class="col-3" style="padding: 0px;">
                    <div style="height: 100%">
                        <img src="../../static/images/p9.jpg" style="height: 100%; width: 362.5px; object-fit: cover">
                    </div>
                </div>
                <table class="col-9" style="margin: 0px">
                     <tr>
                         <td style="background-color: rgb(252, 248, 237); padding-top: 20px">
                             <div style="color:#BC9B5D; font-size:57px; letter-spacing:normal; font-weight: bold; margin: 30px; text-align: center">양상추</div>
                         </td>
                     </tr>
    {# 1행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">주요 생산지</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">- 경남 합천군<br>- 경남 의령군<br>- 경남 하동군</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 2행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">특징</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">양상추는 상추의 재배종으로, 양배추처럼 잎이 안으로 둥글게 말려 있는 결구성 상추이다. 잎이 둥글고 넓으며 양배추보다는 단맛이 덜하고 식감이 덜 딱딱한 것이 특징이다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 3행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">열량</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">100g당 11cal</span>
                                        </span>
                                    </p>
                                </div>
                             </div>
                         </td>
                     </tr>
    {# 4행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237)">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
    {#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">효능</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">양상추에는 수분과 식이섬유가 풍부하게 함유되어 있어 피부의 수분을 유지하는데 도움이 되고 철분이 함유되어있어 빈혈 예방에 효과가 있다. 또한 비타민 D를 함유하고 있어 칼륨의 체내 흡수를 도와 뼈를 튼튼하게 하는데 도움을 준다. </span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
    {# 5행 #}
                     <tr>
                         <td style="padding: 10px 30px; background-color: rgb(252, 248, 237); padding-bottom: 40px">
                             <div style="padding: 3px 15px; border: 2px solid rgba(188, 155, 93, 1); background-color: white" >
                                 {#{#                        //주제#}
                                <div>
                                    <h2 style="font-size:20px; margin-bottom: 2px; margin-top: 7px; margin-left: 10px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:20px;">고르는법</span>
                                        </span>
                                    </h2>
                                </div>
    {#                        //글#}
                                <div>
                                    <p style="font-size:16px; margin-left: 20px; margin-bottom: 10px; line-height: 25px">
                                        <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                                            <span style="font-size:16px;">잎이 밝은 연두색이고 윤기 나고 들어 보았을 때 속이 꽉 차 묵직한 것을 고른다.</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                         </td>
                     </tr>
                </table>
            </div>
        </div>
    </section>

{% endblock %}