
{% extends "predict/base.html" %}

{% block main_area %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <style>
      .scrolltop {
        display: none;
        position: fixed;
        right: 50px;
        bottom: 110px;
        z-index: 1030;
        font-size: 1.875rem;
        color: #868e96;
        transition: all 2.5s ease-in-out;
        opacity: 0.8;
      }
      .scrolltop:hover,
      .scrolltop:focus {
        color: #dc3545;
        transition: all 0.5s ease-in-out;
      }
    </style>

    <a id="backToTop" class="scrolltop" href="#">
        <i class="fas fa-chevron-circle-up"></i>
      </a>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
        jQuery(document).ready(function () {
          $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
              $('#backToTop').fadeIn(500);
            } else {
              $('#backToTop').fadeOut('slow');
            }
          });
          $('#backToTop').click(function (e) {
            e.preventDefault();
            $('html, body').animate({scrollTop: 0}, 200);
          });
        });
      </script>
    <style>
     h2 > button{
         margin: 0px;
         height: 62px;
     }
     #vege_name
     {
         font-family: bmjua;
         font-size: 40px;
         font-weight: lighter;
     }
     #price
     {
         font-family: bmjua;
         font-size: 35px;
     }
     #price_b
     {
         font-family: bmjua;
         font-size: 27px;
     }
     .accordion-body{
         padding-top: 25px;
         padding-left: 30px;
         padding-bottom: 20px;
     }

    .accordion-button[aria-expanded="true"] {
        background-color: #4d8f5d;
        color: white;
    }
    .accordion-button:hover{
        background-color: #4d8f5d;
    }

    </style>
    <!-- Posts -->
        <section class="wrapper style1" style="padding-top: 60px !important; padding-bottom: 80px !important; display: flex; justify-content: center; align-items: center">
            <table style="width: auto">
                <tr>
                    <td>
                        <div style="width:1000px; font-family: bmjua; font-size: 30px; display: flex; align-items: center">
                            <img src="../../static/images/annong.png">
                            <span>미농이가 예측한 이번주와 다음주 농산물 가격입니다!</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="accordion" id="accordionExample" style="width:1100px; display: inline-block">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <span id="vege_name">{{ vege.0 }}</span>
                              </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  <div class="row" style="display: flex; align-items: center; padding-left: 25px">
                                      <div class="col-1" style="text-align: center; padding-left: 15px"><img src="../../static/images/{{ ud.0 }}.png" style="width: 40px;"></div>
                                      <div class="col-4" style="padding-left: 0px; text-align: center"><span id="price"><span style="text-decoration: underline #66b978 8px">금주 예측</span> : {{ price.0.0 }} 원</span></div>
                                      <div class="col-4" style="padding-left: 10px"><span id="price"><span style="text-decoration: underline #66b978 8px">차주 예측</span> : 7719 원</span></div>
                                      <div class="col-3" style="padding-left: 0px"><span id="price_b"><span>전일가격</span> : {{ price_y.0 }} 원</span></div>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span id="vege_name">{{ vege.1 }}</span>
                              </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <div class="row" style="display: flex; align-items: center; padding-left: 25px">
                                      <div class="col-1" style="text-align: center; padding-left: 15px"><img src="../../static/images/{{ ud.1 }}.png" style="width: 40px;"></div>
                                      <div class="col-4" style="padding-left: 0px; text-align: center"><span id="price"><span style="text-decoration: underline #66b978 8px">금주 예측</span> : {{ price.1.0 }} 원</span></div>
                                      <div class="col-4" style="padding-left: 10px"><span id="price"><span style="text-decoration: underline #66b978 8px">차주 예측</span> : 1463 원</span></div>
                                      <div class="col-3" style="padding-left: 0px"><span id="price_b"><span>전일가격</span> : {{ price_y.1 }} 원</span></div>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span id="vege_name">{{ vege.2 }}</span>
                              </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <div class="row" style="display: flex; align-items: center; padding-left: 25px">
                                      <div class="col-1" style="text-align: center; padding-left: 15px"><img src="../../static/images/{{ ud.2 }}.png" style="width: 40px;"></div>
                                      <div class="col-4" style="padding-left: 0px; text-align: center"><span id="price"><span style="text-decoration: underline #66b978 8px">금주 예측</span> : {{ price.2.0 }} 원</span></div>
                                      <div class="col-4" style="padding-left: 10px"><span id="price"><span style="text-decoration: underline #66b978 8px">차주 예측</span> : 5543 원</span></div>
                                      <div class="col-3" style="padding-left: 0px"><span id="price_b"><span>전일가격</span> : {{ price_y.2 }} 원</span></div>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span id="vege_name">{{ vege.3 }}</span>
                              </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <div class="row" style="display: flex; align-items: center; padding-left: 25px">
                                      <div class="col-1" style="text-align: center; padding-left: 15px"><img src="../../static/images/{{ ud.3 }}.png" style="width: 40px;"></div>
                                      <div class="col-4" style="padding-left: 0px; text-align: center"><span id="price"><span style="text-decoration: underline #66b978 8px">금주 예측</span> : {{ price.3.0 }} 원</span></div>
                                      <div class="col-4" style="padding-left: 10px"><span id="price"><span style="text-decoration: underline #66b978 8px">차주 예측</span> : 932 원</span></div>
                                      <div class="col-3" style="padding-left: 0px"><span id="price_b"><span>전일가격</span> : {{ price_y.3 }} 원</span></div>
                                  </div>
                              </div>
                            </div>
                          </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <span id="vege_name">{{ vege.4 }}</span>
                              </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                   <div class="row" style="display: flex; align-items: center; padding-left: 25px">
                                      <div class="col-1" style="text-align: center; padding-left: 15px"><img src="../../static/images/{{ ud.4 }}.png" style="width: 40px;"></div>
                                      <div class="col-4" style="padding-left: 0px; text-align: center"><span id="price"><span style="text-decoration: underline #66b978 8px">금주 예측</span> : {{ price.4.0 }} 원</span></div>
                                      <div class="col-4" style="padding-left: 10px"><span id="price"><span style="text-decoration: underline #66b978 8px">차주 예측</span> : 1121 원</span></div>
                                      <div class="col-3" style="padding-left: 0px"><span id="price_b"><span>전일가격</span> : {{ price_y.4 }} 원</span></div>
                                  </div>
                              </div>
                            </div>
                          </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <span id="vege_name">{{ vege.5 }}</span>
                              </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <div class="row" style="display: flex; align-items: center; padding-left: 25px">
                                      <div class="col-1" style="text-align: center; padding-left: 15px"><img src="../../static/images/{{ ud.5 }}.png" style="width: 40px;"></div>
                                      <div class="col-4" style="padding-left: 0px; text-align: center"><span id="price"><span style="text-decoration: underline #66b978 8px">금주 예측</span> : {{ price.5.0 }} 원</span></div>
                                      <div class="col-4" style="padding-left: 10px"><span id="price"><span style="text-decoration: underline #66b978 8px">차주 예측</span> : 2407 원</span></div>
                                      <div class="col-3" style="padding-left: 0px"><span id="price_b"><span>전일가격</span> : {{ price_y.5 }} 원</span></div>
                                  </div>
                              </div>
                            </div>
                          </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                <span id="vege_name">{{ vege.6 }}</span>
                              </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <div class="row" style="display: flex; align-items: center; padding-left: 25px">
                                      <div class="col-1" style="text-align: center; padding-left: 15px"><img src="../../static/images/{{ ud.6 }}.png" style="width: 40px;"></div>
                                      <div class="col-4" style="padding-left: 0px; text-align: center"><span id="price"><span style="text-decoration: underline #66b978 8px">금주 예측</span> : {{ price.6.0 }} 원</span></div>
                                      <div class="col-4" style="padding-left: 10px"><span id="price"><span style="text-decoration: underline #66b978 8px">차주 예측</span> : 1130 원</span></div>
                                      <div class="col-3" style="padding-left: 0px"><span id="price_b"><span>전일가격</span> : {{ price_y.6 }} 원</span></div>
                                  </div>
                              </div>
                            </div>
                          </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="headingEigth">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEigth" aria-expanded="false" aria-controls="collapseEigth">
                                <span id="vege_name">{{ vege.7 }}</span>
                              </button>
                            </h2>
                            <div id="collapseEigth" class="accordion-collapse collapse" aria-labelledby="headingEigth" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <div class="row" style="display: flex; align-items: center; padding-left: 25px">
                                      <div class="col-1" style="text-align: center; padding-left: 15px"><img src="../../static/images/{{ ud.7 }}.png" style="width: 40px;"></div>
                                      <div class="col-4" style="padding-left: 0px; text-align: center"><span id="price"><span style="text-decoration: underline #66b978 8px">금주 예측</span> : {{ price.7.0 }} 원</span></div>
                                      <div class="col-4" style="padding-left: 10px"><span id="price"><span style="text-decoration: underline #66b978 8px">차주 예측</span> : 2860 원</span></div>
                                      <div class="col-3" style="padding-left: 0px"><span id="price_b"><span>전일가격</span> : {{ price_y.7 }} 원</span></div>
                                  </div>
                              </div>
                            </div>
                          </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="headingNine">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                <span id="vege_name">{{ vege.8 }}</span>
                              </button>
                            </h2>
                            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <div class="row" style="display: flex; align-items: center; padding-left: 25px">
                                      <div class="col-1" style="text-align: center; padding-left: 15px"><img src="../../static/images/{{ ud.8 }}.png" style="width: 40px;"></div>
                                      <div class="col-4" style="padding-left: 0px; text-align: center"><span id="price"><span style="text-decoration: underline #66b978 8px">금주 예측</span> : {{ price.8.0 }} 원</span></div>
                                      <div class="col-4" style="padding-left: 10px"><span id="price"><span style="text-decoration: underline #66b978 8px">차주 예측</span> : 1157 원</span></div>
                                      <div class="col-3" style="padding-left: 0px"><span id="price_b"><span>전일가격</span> : {{ price_y.8 }} 원</span></div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </td>
                </tr>
            </table>
        </section>

{% endblock %}