
{% extends "predict/base.html" %}

{% block main_area %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <style>
      .scrolltop {
        display: none;
        position: fixed;
        right: 50px;
        bottom: 110px;
        z-index: 1030;
        font-size: 1.875rem;
        color: #868e96;
        transition: all 2.5s ease-in-out;
        opacity: 0.8;
      }
      .scrolltop:hover,
      .scrolltop:focus {
        color: #dc3545;
        transition: all 0.5s ease-in-out;
      }
    </style>

    <a id="backToTop" class="scrolltop" href="#">
        <i class="fas fa-chevron-circle-up"></i>
      </a>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
        jQuery(document).ready(function () {
          $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
              $('#backToTop').fadeIn(500);
            } else {
              $('#backToTop').fadeOut('slow');
            }
          });
          $('#backToTop').click(function (e) {
            e.preventDefault();
            $('html, body').animate({scrollTop: 0}, 200);
          });
        });
      </script>
    <style>
     h2 > button{
         margin: 0px;
         height: 62px;
     }
     #vege_name
     {
         font-family: bmjua;
         font-size: 40px;
     }
     #price
     {
         font-family: bmjua;
         font-size: 50px;
     }
     .accordion-body{
         padding-top: 25px;
         padding-left: 30px;
         padding-bottom: 20px;
     }

    .accordion-button[aria-expanded="true"] {
        background-color: #4d8f5d;
        color: white;
    }

    </style>
    <!-- Posts -->
        <section class="wrapper style1" style="padding-top: 60px !important; padding-bottom: 100px !important; display: flex; justify-content: center; align-items: center">
            <div class="accordion" id="accordionExample" style="width:900px; display: inline-block">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <span id="vege_name">{{ vege.0 }}</span>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <span id="price">{{ price.0.0 }} 원</span>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span id="vege_name">{{ vege.1 }}</span>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <span id="price">{{ price.1.0 }} 원</span>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span id="vege_name">{{ vege.2 }}</span>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <span id="price">{{ price.2.0 }} 원</span>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <span id="vege_name">{{ vege.3 }}</span>
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <span id="price">{{ price.3.0 }} 원</span>
                  </div>
                </div>
              </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <span id="vege_name">{{ vege.4 }}</span>
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <span id="price">{{ price.4.0 }} 원</span>
                  </div>
                </div>
              </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <span id="vege_name">{{ vege.5 }}</span>
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <span id="price">{{ price.5.0 }} 원</span>
                  </div>
                </div>
              </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <span id="vege_name">{{ vege.6 }}</span>
                  </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <span id="price">{{ price.6.0 }} 원</span>
                  </div>
                </div>
              </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="headingEigth">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEigth" aria-expanded="false" aria-controls="collapseEigth">
                    <span id="vege_name">{{ vege.7 }}</span>
                  </button>
                </h2>
                <div id="collapseEigth" class="accordion-collapse collapse" aria-labelledby="headingEigth" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <span id="price">{{ price.7.0 }} 원</span>
                  </div>
                </div>
              </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    <span id="vege_name">{{ vege.8 }}</span>
                  </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <span id="price">{{ price.8.0 }} 원</span>
                  </div>
                </div>
              </div>
            </div>
        </section>

{% endblock %}